@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <a asp-page="TicTacToe">Play Tic-Tac-Toe</a>
    <a asp-page="ServerTicTacToe">    Play Tic-Tac-Toe</a>
    <a asp-page="Checkers">    Play Checkers</a>
